.question-panel {
    background-color: #ffff;
    padding: 25px;
}
.team-img {
    text-align: center;
    padding: 30px;
}
.user-points {
    background-color: #fff;
    text-align: center;
    padding: 25px;
}