backend/backend/__pycache__/
backend/backend/local_settings.py
backend/football/__pycache__/
backend/football/migrations/
backend/questions/__pycache__/
backend/questions/migrations/
backend/webapp/__pycache__/
backend/webapp/migrations/
backend/users/__pycache__/
backend/users/migrations/